src/test/resources/userAccountsXmlSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="accounts">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="account">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:unsignedShort" />
                            <xs:element name="customerId" type="xs:unsignedShort" />
                            <xs:element name="type" type="xs:string" />
                            <xs:element name="balance" type="xs:decimal" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>